# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`

# ignores all dot files
.*
# keeps gitignore
!.gitignore

# ignores all binaries
*.bin
*.exe

# ignores further binaries (should be rebuilt for system)
*.so
*.dll

# ignores the extra code for .so and .dll files
*.o
*.asm

# re-includes for the template for new packages
!packages/.template